<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>{{title}}</title> -->
    <title>
        {% if title=="About" %}
        About Page | OneMonth.com
        {% elif title=="Contact" %}
        Contact Page
        {% else %}
        OneMonth.com
        {% endif %}
    </title>
</head>

<body>
    <a href="/about">About page</a>
    <a href="/">Homepage</a>
    <a href="/contact">Contact</a>